In [1]:
import pandas as pd

# Load the provided file
data = pd.read_csv('./data/train.csv')

# Display the first few rows of the dataset
data.head()

   idx      class                                       conversation
0    0      협박 대화  지금 너 스스로를 죽여달라고 애원하는 것인가?\n 아닙니다. 죄송합니다.\n 죽을 ...
1    1      협박 대화  길동경찰서입니다.\n9시 40분 마트에 폭발물을 설치할거다.\n네?\n똑바로 들어 ...
2    2  기타 괴롭힘 대화  너 되게 귀여운거 알지? 나보다 작은 남자는 첨봤어.\n그만해. 니들 놀리는거 재미...
3    3      갈취 대화  어이 거기\n예??\n너 말이야 너. 이리 오라고\n무슨 일.\n너 옷 좋아보인다?...
4    4      갈취 대화  저기요 혹시 날이 너무 뜨겁잖아요? 저희 회사에서 이 선크림 파는데 한 번 손등에 ...

In [2]:
# Check for missing values
missing_values = data.isnull().sum()

missing_values

idx             0
class           0
conversation    0
dtype: int64

In [3]:
# Check the distribution of classes
class_distribution = data['class'].value_counts()

class_distribution

기타 괴롭힘 대화      1094
갈취 대화           981
직장 내 괴롭힘 대화     979
협박 대화           896
Name: class, dtype: int64

In [4]:
# Calculate the length of each conversation
data['conversation_length'] = data['conversation'].apply(len)

# Check the distribution of conversation lengths
conversation_length_stats = data['conversation_length'].describe()

conversation_length_stats

count    3950.000000
mean      226.570886
std       104.560310
min        41.000000
25%       156.000000
50%       203.000000
75%       270.000000
max       874.000000
Name: conversation_length, dtype: float64

In [5]:
import re

def clean_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove special characters and numbers
    text = re.sub(r'[^가-힣a-z\s]', ' ', text)
    
    # Remove extra spaces
    text = ' '.join(text.split())
    
    return text

# Apply the cleaning function to the conversation column
data['cleaned_conversation'] = data['conversation'].apply(clean_text)

# Display the cleaned conversations for the first few rows
data[['conversation', 'cleaned_conversation']].head()

,conversation,cleaned_conversation
0,지금 너 스스로를 죽여달라고 애원하는 것인가?\n 아닙니다. 죄송합니다.\n 죽을 ...,지금 너 스스로를 죽여달라고 애원하는 것인가 아닙니다 죄송합니다 죽을 거면 혼자 죽...
1,길동경찰서입니다.\n9시 40분 마트에 폭발물을 설치할거다.\n네?\n똑바로 들어 ...,길동경찰서입니다 시 분 마트에 폭발물을 설치할거다 네 똑바로 들어 한번만 더 얘기한...
2,너 되게 귀여운거 알지? 나보다 작은 남자는 첨봤어.\n그만해. 니들 놀리는거 재미...,너 되게 귀여운거 알지 나보다 작은 남자는 첨봤어 그만해 니들 놀리는거 재미없어 지...
3,어이 거기\n예??\n너 말이야 너. 이리 오라고\n무슨 일.\n너 옷 좋아보인다?...,어이 거기 예 너 말이야 너 이리 오라고 무슨 일 너 옷 좋아보인다 얘 돈 좀 있나...
4,저기요 혹시 날이 너무 뜨겁잖아요? 저희 회사에서 이 선크림 파는데 한 번 손등에 ...,저기요 혹시 날이 너무 뜨겁잖아요 저희 회사에서 이 선크림 파는데 한 번 손등에 발...

In [8]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 7.0 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [9]:
# Load the provided Excel file
general_data_excel = pd.read_excel('./Training.xlsx')

# Display the first few rows of the data from the Excel file
general_data_excel.head()

,Unnamed: 0,연령,성별,상황키워드,신체질환,감정_대분류,감정_소분류,사람문장1,시스템문장1,사람문장2,시스템문장2,사람문장3,시스템문장3
0,1,청년,여성,"진로,취업,직장",해당없음,분노,노여워하는,일은 왜 해도 해도 끝이 없을까? 화가 난다.,많이 힘드시겠어요. 주위에 의논할 상대가 있나요?,그냥 내가 해결하는 게 나아. 남들한테 부담 주고 싶지도 않고.,혼자 해결하기로 했군요. 혼자서 해결하기 힘들면 주위에 의논할 사람을 찾아보세요.,NaN,NaN
1,2,청년,여성,"진로,취업,직장",해당없음,분노,노여워하는,이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나.,급여가 줄어 속상하시겠어요. 월급이 줄어든 것을 어떻게 보완하실 건가요?,최대한 지출을 억제해야겠어. 월급이 줄어들었으니 고정지출을 줄일 수밖에 없을 것 같아.,월급이 줄어든 만큼 소비를 줄일 계획이군요.,NaN,NaN
2,3,청년,여성,"진로,취업,직장",해당없음,분노,노여워하는,회사에 신입이 들어왔는데 말투가 거슬려. 그런 애를 매일 봐야 한다고 생각하니까 스...,회사 동료 때문에 스트레스를 많이 받는 것 같아요. 문제 해결을 위해 어떤 노력을 ...,잘 안 맞는 사람이랑 억지로 잘 지내는 것보단 조금은 거리를 두고 예의를 갖춰서 대...,스트레스받지 않기 위해선 인간관계에 있어 약간의 거리를 두는 게 좋겠군요.,NaN,NaN
3,4,청년,여성,"진로,취업,직장",해당없음,분노,노여워하는,직장에서 막내라는 이유로 나에게만 온갖 심부름을 시켜. 일도 많은 데 정말 분하고 ...,관련 없는 심부름을 모두 하게 되어서 노여우시군요. 어떤 것이 상황을 나아질 수 있...,직장 사람들과 솔직하게 이야기해보고 싶어. 일하는 데에 방해된다고.,직장 사람들과 이야기를 해 보겠다고 결심하셨군요.,NaN,NaN
4,5,청년,여성,"진로,취업,직장",해당없음,분노,노여워하는,얼마 전 입사한 신입사원이 나를 무시하는 것 같아서 너무 화가 나.,무시하는 것 같은 태도에 화가 나셨군요. 상대방의 어떤 행동이 그런 감정을 유발하는...,상사인 나에게 먼저 인사하지 않아서 매일 내가 먼저 인사한다고!,항상 먼저 인사하게 되어 화가 나셨군요. 어떻게 하면 신입사원에게 화났음을 표현할 ...,NaN,NaN

In [11]:
# Reload the original CSV and Excel datasets
original_data_csv = pd.read_csv('./data/train.csv')
general_data_excel = pd.read_excel('./Training.xlsx')

# Filter the '기쁨' conversations from the Excel file
happiness_conversations = general_data_excel[general_data_excel['감정_대분류'] == '기쁨']

# Extract concatenated conversations for '기쁨' from the Excel file
happiness_conversations_list = []

for _, row in happiness_conversations.iterrows():
    # Concatenate all the user and system sentences to form the conversation
    conversation = ' '.join([str(row[f'사람문장{i}']) + ' ' + str(row[f'시스템문장{i}']) 
                             for i in range(1, 4) if pd.notnull(row[f'사람문장{i}']) and pd.notnull(row[f'시스템문장{i}'])]).strip()
    if conversation:
        happiness_conversations_list.append(conversation)

# Create a DataFrame with the concatenated '기쁨' conversations and label them as '일반 대화'
happiness_conversations_df = pd.DataFrame({
    'class': ['일반 대화'] * len(happiness_conversations_list),
    'conversation': happiness_conversations_list
})

# Combine the '기쁨' conversations labeled as '일반 대화' with the original dataset from CSV
final_data = pd.concat([original_data_csv, happiness_conversations_df], ignore_index=True)

# Display the distribution of the classes in the final dataset
final_data['class'].value_counts()

일반 대화          6126
기타 괴롭힘 대화      1094
갈취 대화           981
직장 내 괴롭힘 대화     979
협박 대화           896
Name: class, dtype: int64

   idx      class                                       conversation
0  0.0      협박 대화  지금 너 스스로를 죽여달라고 애원하는 것인가?\n 아닙니다. 죄송합니다.\n 죽을 ...
1  1.0      협박 대화  길동경찰서입니다.\n9시 40분 마트에 폭발물을 설치할거다.\n네?\n똑바로 들어 ...
2  2.0  기타 괴롭힘 대화  너 되게 귀여운거 알지? 나보다 작은 남자는 첨봤어.\n그만해. 니들 놀리는거 재미...
3  3.0      갈취 대화  어이 거기\n예??\n너 말이야 너. 이리 오라고\n무슨 일.\n너 옷 좋아보인다?...
4  4.0      갈취 대화  저기요 혹시 날이 너무 뜨겁잖아요? 저희 회사에서 이 선크림 파는데 한 번 손등에 ...

In [13]:
# Drop the 'idx' column from the final dataset
final_data = final_data.drop(columns=['idx'])

final_data = final_data.drop_duplicates()

# Display the distribution of the classes in the final dataset after removing duplicates
final_data['class'].value_counts()

일반 대화          6126
기타 괴롭힘 대화      1011
갈취 대화           973
직장 내 괴롭힘 대화     970
협박 대화           892
Name: class, dtype: int64

In [14]:
# Filter and display a few rows with the class '일반 대화' from the final_data dataframe
happiness_samples_final = final_data[final_data['class'] == '일반 대화'].sample(5)

happiness_samples_final

      class                                       conversation
6855  일반 대화  내가 아들한테 용돈도 다 받아보고. 이제 정말 다 컸나 봐. 아드님에게 용돈을 받으...
6235  일반 대화  아빠가 졸업 겸 생일 선물로 차를 주셨어. 선물로 차를 받았다니 최고의 선물이네요....
7380  일반 대화  남편이 퇴근길에 꽃을 사서 나에게 선물해줬어. 꽃을 선물 받아서 기쁘시겠어요. 너무...
5351  일반 대화  요즘 너무 행복해. 좋은 일이 있으시군요. 무슨 일이신가요? 내가 칠 년 동안 만난...
9612  일반 대화  오늘은 지인들한테 감사 문자를 다 돌렸어. 지인들에게 감사의 마음을 담은 문자를 보...